# OS Generated
#-----------------------------
.DS_Store
*~


# File types
#-----------------------------
*.txt
*.csv
*.feather

# Images
*.svg
*.png



# Jupyter
#-----------------------------
.ipynb_checkpoints/


# Julia
#-----------------------------
*.toml


# Dirs
#-----------------------------
supplied/
data/
images/
