# OS Generated
#-----------------------------
.DS_Store
*~


# File types
#-----------------------------
*.txt

# Images
*.svg
*.png



# Jupyter
#-----------------------------
.ipynb_checkpoints/


# Dirs
#-----------------------------
supplied/


